.hero {
  padding: 120px 20px;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
}

.text {
  margin-top: 20px;
  color: #666;
  line-height: 1.6;
}

.btn {
  margin-top: 30px;
  padding: 14px 28px;
  background: rgb(70,81,227);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  position: relative;
}

.circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(135deg,#3b82f6,#2563eb);
  border-radius: 50%;
  right: 0;
  top: -80px;
}

.image {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  width: 100%;
}
